
 @import "bootstrap";

a {
    color: #e9ecef;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.navbar-expand-md .navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}
