
 @import "bootstrap";

 /*Menu/Navbar Inicio*/
a {
    color: #e9ecef;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 15px;
}

.navbar-expand-lg .navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

@media (min-width: 992px) {
  a {
    color: #e9ecef;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    margin-left: 1rem;
    margin-right: 0rem;
    font-size: 15px;
  }
  .navbar-expand-lg .navbar-nav {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    flex-direction: row;
  }
}


/*Menu/Navbar Fim*/


/*Carrousel/Inicio*/

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
  }
  
  .carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  
  img,
  embed,
  object,
  video {
    max-width: 100%;
  }

  .carousel-caption {
    line-height: 1.43;
    font-weight: bold;
    text-shadow: 0 0 0.5em black, 0 0 0.1em black, 0 0 0.1em black;
    z-index: 0px;
    margin-bottom: -25px;
    margin-top: 0px;
    color: #ffffff;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
  }
  
  /* Carousel icone */
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50% center;
    background-size: 100% 100%;
  }


  @media (max-width: 376px) {
    .carousel-inner > .carousel-item > img {
      height: 376px;
    }

    h1, .h1 {
        font-size: 24px;
        color: #ffffff;
        font-family: montserrat;
        font-weight: bolder;
        display: flex;
        justify-content: space-evenly;
    }

    p {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: 18px;
        display: flex;
        justify-content: space-evenly;
        text-shadow: #ffffff;
    }
    .carousel-caption {
      margin-bottom: 7rem;
      margin-top: 1rem;
      color: #ffffff;
      font-family: montserrat;
    }

    /* Cor do butões carrosel, se precisar
    .btn-primary {
    background-color:black ;
    }
    */
  }

  @media (min-width: 576px) {
    .carousel-inner > .carousel-item > img {
      height: 400px;
    }

    h1, .h1 {
        font-size: 30px;
        color: #ffffff;
        font-family: montserrat;
        font-weight: bolder;
        display: flex;
        justify-content: space-evenly;
    }

    p {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 22px;
        font-weight: bold;
        color: #ffffff;
        font-family: montserrat;
        display: flex;
        justify-content: space-evenly;
    }
    .carousel-caption {
        margin-top: 3rem;
        margin-bottom: 5rem;
      }
  }

  @media (min-width: 768px) {
    .carousel-inner > .carousel-item > img {
      height: 450px;
    }

    h1, .h1 {
        font-size: 30px;
        color: #ffffff;
        font-family: montserrat;
        font-weight: bolder;
        display: flex;
        justify-content: space-evenly;
    }

    p {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
        font-family: montserrat;
        display: flex;
        justify-content: space-evenly;
    }
    .carousel-caption {
        margin-top: 3rem;
        margin-bottom: 5rem;
      }
  }

  @media (min-width: 992px) {
    .carousel-inner > .carousel-item > img {
      height: 500px;
    }
 
    h1, .h1 {
        font-size: 32px;
        color: #ffffff;
        font-family: montserrat;
        font-weight: bolder;
        display: flex;
        justify-content: space-evenly;
    }
    p {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 24px;
        font-weight: bold;
        color: #ffffff;
        font-family: montserrat;
        display: flex;
        justify-content: space-evenly;
    }
    .carousel-caption {
      margin-top: 0rem;
      margin-bottom: 0rem;
    }
  }
  
  @media (min-width: 1200px) {
    .carousel-inner > .carousel-item > img {
      height: 600px;
    }
    h1, .h1 {
        font-size: 34px;
        color: #ffffff;
        font-family: montserrat;
        font-weight: bolder;
        display: flex;
        justify-content: space-evenly;
    }
    p {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 24px;
        font-weight: bold;
        color: #ffffff;
        font-family: montserrat;
        display: flex;
        justify-content: space-evenly;
    }
    .carousel-caption {
      margin-top: 0rem;
      margin-bottom: 0rem;
    }

  }
  
  @media (min-width: 1400px) {
    .carousel-inner > .carousel-item > img {
      height: 650px;
    }

    h1, .h1 {
      font-size: 37px;
      color: #ffffff;
      font-family: montserrat;
      font-weight: bolder;
      display: flex;
      justify-content: space-evenly;
  }

  p {
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 26px;
      font-weight: bold;
      color: #ffffff;
      font-family: montserrat;
      display: flex;
      justify-content: space-evenly;
  }
  .carousel-caption {
    margin-top: 0rem;
    margin-bottom: 0rem;
    }
  }

/*Carrousel/Fim*/